
@section titleContent {
    Thêm danh mục mới
}


<form method="post" action="">
    Tên danh mục:
    <input type="text" name="CatName" />
    <button type="submit">
        Đồng ý
    </button>
</form>
<a href="@Url.Action("Index", "Admin")">Quay lại danh mục</a>
